# Excel and CSV

In [1]:
import pandas as pd

## Input
read_csv: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

read_excel: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [2]:
countries_excel = pd.read_excel('top_10_countries.xls', sheet_name='data')

In [3]:
countries_excel.head()

   Rank Country / Dependency    Region  Population  % of world       Date
0     1                China      Asia  1412600000      0.1780 2021-12-31
1     2                India      Asia  1386946912      0.1750 2022-01-18
2     3        United States  Americas   333073186      0.0420 2022-01-18
3     4            Indonesia      Asia   271350000      0.0342 2020-12-31
4     5             Pakistan      Asia   225200000      0.0284 2021-07-01

In [4]:
countries_csv = pd.read_csv('top_10_countries.csv')

In [5]:
countries_csv.head()

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21

## Output
to_excel: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

to_csv: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [6]:
countries_out = countries_excel.pivot_table(index='Region', values='Population', aggfunc='sum')

In [7]:
countries_out

          Population
Region
Africa     211401000
Americas   673318851
Asia      3468159488
Europe     146171015

In [8]:
# Change this to be the directory and filename of your choice

countries_out.to_csv('/users/malvikvaghadia/Desktop/countries_out.csv')

In [9]:
# Change this to be the directory and filename of your choice

countries_out.to_excel('/users/malvikvaghadia/Desktop/countries_out.xlsx')