For the statistical calculation of the t-test(a significant difference in the categories) just for practice, can maybe use both z and t test (should be able to derive the same ans)

In [1]:
import numpy as np
import pandas as pd
from statsmodels.stats import weightstats 
import scipy.stats as stats

In [2]:
transac_data = pd.read_csv('Dummy Data (3 months).csv')

In [9]:
transac_data.head(10)

      Date Description of Purchase Category of Purchase  Price
0   1/1/22           Grocery Store            Groceries   45.67
1   2/1/22             Gas Station       Transportation   35.12
2   3/1/22             Coffee Shop           Dining Out    8.99
3   4/1/22           Movie Theater        Entertainment   22.50
4   5/1/22              Amazon.com      Online Shopping   67.89
5   6/1/22              Hair Salon        Personal Care   55.00
6   7/1/22          Gym Membership       Health/Fitness   80.00
7   8/1/22          Clothing Store             Clothing  112.45
8   9/1/22           Grocery Store            Groceries   23.12
9  10/1/22             Gas Station       Transportation   40.23

In [12]:
#getting rid of whitespace 
transac_data.columns = transac_data.columns.str.strip()

**Analysis 1**: Any significant difference between the amount spent within the different categories

Categories: Groceries, Transportation, Dining Out, Entertainment, Online Shopping, Personal Care

In [13]:
#filtered item for groceries
groceries = transac_data[transac_data['Category of Purchase']== 'Groceries']['Price']
groceries

0     45.67
8     23.12
16    41.23
24    27.23
30    42.89
38    23.56
46    37.23
54    29.23
58    35.67
66    28.34
74    31.23
82    26.23
Name: Price, dtype: float64

In [14]:
#filtered item for Transportation
transportation = transac_data[transac_data['Category of Purchase']== 'Transportation']['Price']
transportation

1     35.12
9     40.23
17    37.12
25    38.23
31    30.12
39    40.23
47    35.12
55    38.23
59    25.42
67    36.12
75    29.45
83    39.56
Name: Price, dtype: float64

In [15]:
#filtered item for Dining Out
dining_out = transac_data[transac_data['Category of Purchase']== 'Dining Out']['Price']
dining_out

2      8.99
10    12.99
18     9.99
26    10.99
32     8.50
40    12.99
48     9.99
56    10.99
60     7.99
68    10.99
76     8.50
84    12.99
Name: Price, dtype: float64

In [16]:
#filtered item for Entertainment
entertainment = transac_data[transac_data['Category of Purchase']== 'Entertainment']['Price']
entertainment

3     22.50
11    28.75
19    24.50
27    26.75
33    25.00
41    28.50
49    22.75
57    26.75
61    20.50
69    23.75
77    27.50
85    21.75
Name: Price, dtype: float64

In [20]:
#filtered item for Online Shopping
online_shop = transac_data[transac_data['Category of Purchase'] == 'Entertainment']['Price']
online_shop

3     22.50
11    28.75
19    24.50
27    26.75
33    25.00
41    28.50
49    22.75
57    26.75
61    20.50
69    23.75
77    27.50
85    21.75
Name: Price, dtype: float64

In [22]:
#filtered item for Personal Care
personal_care = transac_data[transac_data['Category of Purchase'] == 'Personal Care']['Price']
personal_care

5     55.0
13    67.0
21    62.0
29    71.0
35    65.0
43    72.0
51    60.0
63    62.0
71    75.0
79    68.0
87    80.0
Name: Price, dtype: float64