## Arithmetic Operators

\+ Addition

\- Subtraction

\* Multiplication

/ Division

% Modulus

\** Exponent

In [1]:
#We've already covered arithmetic operators when discussing number data types

## Comparison Operators

\== Equal

\!= Not equal

\> Left operand is greater than right operand

\>= Left operand is greater or equal to right operand

< Left operand is less than right operand

<= Left operand is less than or equal to right operand

In [1]:
# The equality operator compares the values of the left and right operands
# It returns the boolean True if they are the same
10==10

True

In [2]:
#assignment operator
a=10
b=20

In [3]:
a

10

In [4]:
b

20

In [5]:
# The equality operator returns False as a=10 and b=20
a==b

False

In [6]:
# The assignment operator assigns the value of b to a
# The assignment operator should not be confused with the equality operator
a=b

In [7]:
a

20

In [8]:
10==10

True

In [9]:
# The equality operator returns False as the data types are different
'10'==10

False

In [10]:
'Tom'=='Tom'

True

In [11]:
# The equality operator takes case sensitivity into consideration
'tom'=='Tom'

False

In [12]:
# ... and extra whitespace
'Tom '=='Tom'

False

In [13]:
# The output is Sale as the elements are ordered differently
[1,2,3]==[2,1,3]

False

In [14]:
# The not equal comparison operator checks for values being not equal to each other
10!=10

False

In [15]:
# 10 is less than 20 so the output is True
10 < 20

True

In [16]:
# 30 is less than 40 so the output is True
30 > 40

False

In [17]:
# 30 is greater than or equal to 30 so the output is True
30>=30

True

In [ ]:
# Create some cells below to practice with the rest of the operators...

## Logical Operators

and - Returns True if both statements are true

or - Returns True if any of the statements are true

not - Returns False if the statement is True

In [18]:
4>3

True

In [19]:
100>3

True

In [20]:
# The 'and' logical operator returns True if the statement to the right and left are True
4>3 and 100>3

True

In [21]:
# The output is True because all of the statements are True
3>1 and 3==3 and 4<100

True

In [22]:
3<4

True

In [23]:
4<3

False

In [24]:
# The 'or' logical operator returns True if any statements to the right or left are True
3<4 or 4<3

True

In [25]:
'hello'=='hello ' or 40>5 and 'hello'=='hello'

True

In [26]:
4<3

False

In [27]:
# The 'not' operator reverses the output of the statement
not 4<3

True

In [28]:
a=20
b=20

In [29]:
# The 'is' operator checks if the values stored in two variables are the same
a is b

True

In [30]:
# The 'is not' operator checks if the values stored in two variables are NOT the same
a is not b

False

In [ ]:
# Create some cells below to practice with the rest of the operators...

## Additional Resources and Guidance: 
* https://docs.python.org/3/reference/expressions.html
* https://www.w3schools.com/python/python_operators.asp