# Tuples

Tuples are ordered sequences of values or elements enclosed inside round braces.

Tuples can store multiple items into a single variable.

Tuples allow duplicate values.

Tuples are immutable!

In [1]:
# A tuple is enclosed with round braces
x = (1,2,2,3)

In [2]:
x

(1, 2, 2, 3)

In [3]:
type(x)

tuple

In [4]:
# You can store elements of different data types in a tuple
x=(1,'John',[1,2,3],{'key1','value1'})

In [5]:
x

(1, 'John', [1, 2, 3], {'key1', 'value1'})

In [6]:
type(x)

tuple

In [7]:
# You can perform indexing and slicing on a tuple
x[0]

1

In [8]:
# But a tuple (unlike a list) is immutable
x[0]=2

TypeError: 'tuple' object does not support item assignment

In [9]:
# A tuple can store duplicated values
x = (1,1,1,2,3,3,3,3)

In [10]:
x

(1, 1, 1, 2, 3, 3, 3, 3)

In [11]:
# The count method counts occurences of the value in the parenthesis
x.count(1)

3

In [13]:
# The index method returns the index location of the first occurence of the value in the parenthesis
x.index(3)

4

# Sets

Sets are mutable sequences of values or elements enclosed inside curly braces.

Sets can store multiple items into a single variable.

Sets are unordered.

Sets do NOT allow duplicate values!

You cannot index or slice sets!

In [14]:
# A set is enclosed inside curly braces just like a dictionary
# But unlike a dictionary it doesn't store key value pairs
x = {1,2,3}

In [15]:
x

{1, 2, 3}

In [16]:
type(x)

set

In [17]:
# This is the way you create an empty set
x=set()

In [18]:
type(x)

set

In [19]:
x

set()

In [20]:
# This will create an empty dictionary object
x={}

In [21]:
type(x)

dict

In [22]:
# Sets can take elements of different data types
x = {1,2,'John'}

In [23]:
x

{1, 2, 'John'}

## Additional Resources and Guidance: 
* https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

## Set Methods

In [24]:
# The add method adds an element into a set
x.add(5)

In [25]:
x

{1, 2, 5, 'John'}

In [26]:
# Duplicate elements will not get added to the set
x.add(5)

In [27]:
x

{1, 2, 5, 'John'}

In [28]:
# Duplicate elements will be removed on set creation
y = {1,2,2,2,2,2}

In [29]:

y

{1, 2}

In [30]:
# You cannot index or slice a set
y[1]

TypeError: 'set' object is not subscriptable

In [31]:
list_1 = [1,2,2,3]

In [32]:
# A list can be converted to a set. However, duplicate elements will be removed
set_1 = set(list_1)

In [33]:
set_1

{1, 2, 3}

In [34]:
x = {1,2,3,4}
y = {3,4,5,6}

In [35]:
# The intersection method returns common elements between two sets
x.intersection(y)

{3, 4}

## Additional Resources and Guidance: 
* https://docs.python.org/3/tutorial/datastructures.html#sets
* https://www.w3schools.com/python/python_ref_set.asp