## String Methods

In [1]:
# The upper() method returns the string in uppecase
x = 'This is a string'
x.upper()

'THIS IS A STRING'

In [2]:
# The upper() method is not in-place
# the variable will need to be reassigned to the previous result to keep it in upper case
x

'This is a string'

In [3]:
x = x.upper()

In [4]:
x

'THIS IS A STRING'

In [5]:
# The lower() method returns the string in lowercase
x.lower()

'this is a string'

### find(text, start, stop)

The find method searches for text in the target string, it takes three parameters
* text is the text to search for
* start is the start index position, this is optional
* stop is the stop index position, this is optional

0 is a match, -1 is not a match

In [6]:
y = 'Red Flag'

In [7]:
# Checking to see if the text 'Red' is contained in the variable y
y.find("Red")

0

In [8]:
# It is case sensitive
y.find('red')

-1

In [9]:
# Checking to see if the text 'Red Flag' is contained in the variable y
y.find('Red Flag')

0

### replace(old text, new text, count)

The replace method can replace text with new text.
It takes 3 parameters:
* old text is the text to be replaced
* new text is the text to replace with
* The count parameter is the number of times you want to replace the old text, by default this is all occurences of the old text to be replaced

In [10]:
y

'Red Flag'

In [11]:
# Replacing 'Red' with 'Green'
y.replace('Red','Green')

'Green Flag'

In [12]:
# The change doesn't happen in place, y will need to be reassigned
y

'Red Flag'

In [13]:
y = y.replace('Red','Green')

In [14]:
y

'Green Flag'

### split()

The split() method will split a string into a list, by default the string will be seperated by each whitespace character

In [15]:
x

'THIS IS A STRING'

In [16]:
# The result of applying the split method on x
x.split()

['THIS', 'IS', 'A', 'STRING']

In [17]:
# Reassigning variable x
x = 'THIS, IS A STRING'

In [18]:
# Using the split method with ',' as the specified seperator
x.split(',')

['THIS', ' IS A STRING']

In [19]:
# Reassigning variable x
x = 'THIS, IS A , STRING'

In [20]:
# Using the split method with ',' as the specified seperator
x.split(',')

['THIS', ' IS A ', ' STRING']

In [21]:
# Using the split method with ' ' as the specified seperator (this is the default behaviour)
x.split(' ')

['THIS,', 'IS', 'A', ',', 'STRING']

## Strings are immutable

Strings  are immutable. This means the value cannot be changed of individual character elements of the string.

In [22]:
a = 'Hello'

In [23]:
a

'Hello'

In [24]:
# the string variable a can be reassigned
a = 'Goodbye'

In [25]:
a

'Goodbye'

In [26]:
a[0]

'G'

In [27]:
# But you cannot change an individual character due to its immutability
a[0]='P'

TypeError: 'str' object does not support item assignment

## Additional Resources and Guidance: 
* https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str