# Challenge Questions - Matplotlib

# Instructions:
• Please ensure you don't overwrite any existing cells. Add new cells below by pressing ALT+ENTER

• Attempt all of the questions

• You are encouraged to look online for help should you need it

## Run the data preparation steps below. We will be creating three DataFrames:
## • 'tfl' contains the following columns
* **'Day'**
* **'Number of Bicycle Hires'**
* **'Cumulative (m)'**: This is the running total in millions
* **'Day of Week'**: This is the Day of the week name
* **'Month'**: This is the Month name

## • 'tfl_day' is an aggregated DataFrame and contains the following columns
* **'Day of Week'**: This is the Day of the week name
* **'Day Number'**: Weekday as a decimal number
* **'Number of Bicycle Hires (millions)'**

## • 'tfl_month' is an aggregated DataFrame and contains the following columns
* **'Month'**: This is the Month
* **'Month Number'**
* **'Number of Bicycle Hires (millions)'**

In [1]:
## Importing pandas, numpy, matplotlib.pyplot and datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
tfl = pd.read_csv('tfl-daily-cycle-hires.csv')

In [3]:
tfl.dtypes

Day                         object
Number of Bicycle Hires    float64
Unnamed: 2                 float64
dtype: object

In [4]:
# Changing 'Day' to be datetime dtype, 'Number of Bicycle Hires' as string
# Dropping extra columns
tfl['Day'] = pd.to_datetime(tfl['Day'], format='%d/%m/%Y')
tfl['Number of Bicycle Hires'] = tfl['Number of Bicycle Hires'].astype('float')
tfl.drop(columns='Unnamed: 2', inplace=True)

In [5]:
tfl.dtypes

Day                        datetime64[ns]
Number of Bicycle Hires           float64
dtype: object

In [6]:
# Sorting values by 'Day' ascending
tfl.sort_values('Day', ascending = True, inplace =True)

In [7]:
# Adding Cumulative total via expanding() window operation
tfl['Cumulative (millions)'] = tfl['Number of Bicycle Hires'].expanding().sum()/1000000

In [8]:
tfl.head()

         Day  Number of Bicycle Hires  Cumulative (millions)
0 2010-07-30                   6897.0               0.006897
1 2010-07-31                   5564.0               0.012461
2 2010-08-01                   4303.0               0.016764
3 2010-08-02                   6642.0               0.023406
4 2010-08-03                   7966.0               0.031372

In [9]:
# Creating additional columns
# You can see the format codes here: https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior
# 'Day Number' and 'Month Number' are purely for ordering the DataFrame
tfl['Day of Week'] = tfl['Day'].dt.strftime('%A')
tfl['Month'] = tfl['Day'].dt.strftime('%B')
tfl['Day Number'] = tfl['Day'].dt.strftime('%w')
tfl['Month Number'] = tfl['Day'].dt.strftime('%m')

In [10]:
tfl

,Day,Number of Bicycle Hires,Cumulative (millions),Day of Week,Month,Day Number,Month Number
0,2010-07-30,6897.0,0.006897,Friday,July,5,07
1,2010-07-31,5564.0,0.012461,Saturday,July,6,07
2,2010-08-01,4303.0,0.016764,Sunday,August,0,08
3,2010-08-02,6642.0,0.023406,Monday,August,1,08
4,2010-08-03,7966.0,0.031372,Tuesday,August,2,08
...,...,...,...,...,...,...,...
4076,2021-09-26,45120.0,107.036280,Sunday,September,0,09
4077,2021-09-27,32167.0,107.068447,Monday,September,1,09
4078,2021-09-28,32539.0,107.100986,Tuesday,September,2,09
4079,2021-09-29,39889.0,107.140875,Wednesday,September,3,09
4080,2021-09-30,34070.0,107.174945,Thursday,September,4,09

In [11]:
# Creating the tfl_day DF
tfl_day = tfl[['Day of Week', 'Day Number','Number of Bicycle Hires']].groupby(by=['Day of Week','Day Number']).sum()

In [12]:
# Resetting index and returning 'Day of Week' and 'Day Number' as columns
tfl_day.reset_index(inplace=True)

In [13]:
# Sorting via the 'Day Number' column
tfl_day.sort_values('Day Number', inplace=True)

In [14]:
# New column showing the 'Number of Bicycle Hires (millions)'
tfl_day['Number of Bicycle Hires (millions)'] = round(tfl_day['Number of Bicycle Hires']/1000000,2)

In [15]:
# Dropping the 'Number of Bicycle Hires' column
tfl_day.drop(columns='Number of Bicycle Hires', inplace=True)

In [16]:
tfl_day

  Day of Week Day Number  Number of Bicycle Hires (millions)
3      Sunday          0                               13.01
1      Monday          1                               15.21
5     Tuesday          2                               16.38
6   Wednesday          3                               16.43
4    Thursday          4                               16.37
0      Friday          5                               15.79
2    Saturday          6                               13.99

In [17]:
# Creating the tfl_month DF
tfl_month = tfl[['Month', 'Month Number','Number of Bicycle Hires']].groupby(by=['Month','Month Number']).sum()

In [18]:
# Resetting index and returning 'Month of Week' and 'Month Number' as columns
tfl_month.reset_index(inplace=True)

In [19]:
# Sorting via the 'Month Number' column
tfl_month.sort_values('Month Number', inplace=True)

In [20]:
# New column showing the 'Number of Bicycle Hires (millions)'
tfl_month['Number of Bicycle Hires (millions)'] = round(tfl_month['Number of Bicycle Hires']/1000000,2)

In [21]:
# Dropping the 'Number of Bicycle Hires' column
tfl_month.drop(columns='Number of Bicycle Hires', inplace=True)

In [22]:
tfl_month

        Month Month Number  Number of Bicycle Hires (millions)
4     January           01                                6.22
3    February           02                                6.11
7       March           03                                7.52
0       April           04                                8.56
8         May           05                               10.36
6        June           06                               10.99
5        July           07                               12.12
1      August           08                               11.68
11  September           09                               11.22
10    October           10                                9.17
9    November           11                                7.42
2    December           12                                5.80

#

# Challenge Exercises:

## Create a bar plot using the tfl_day DataFrame 
* It should have a figuresize of (20,5)
* It should plot 'Day of Week' on the x-axis and 'Number of Bicycle Hires (millions)' for the height
* Title the Chart 'Total Bike Hires by Day of Week', fontsize 30
* y-label should be 'Bike Hires (m)', fontsize 20
* xticks and yticks should have a fontsize of 15

## Copy the code for the previous bar plot in the cell below and add the following color codes with a black edgecolor:
* Sunday: #6867AC
* Monday: #A267AC
* Tuesday: #CE7BB0
* Wednesday: #FFBCD1
* Thursday: #BAABDA
* Friday: #D3DEDC
* Saturday: #FFFDDE

Hint: You can pass the colors in as a list in the order specified

## Create a bar plot using the tfl_month DataFrame 
* It should have a figuresize of (20,5)
* It should plot 'Month' on the x-axis and 'Number of Bicycle Hires' for the height
* Title the Chart 'Total Bike Hires by Month', fontsize 30
* y-label should be 'Bike Hires (m)', fontsize 20
* xticks and yticks should have a fontsize of 15

## Using the tfl DataFrame create a chart with a secondary y-axis:
* It should have a figuresize of (20,10)
* 'Day' on the x-axis
* 'Number of Bicycle Hires' on the left (main) y-axis as a Bar Plot, color '#CE7BB0'
* 'Cumulative' on the right (secondary) y-axis as a Line Plot, color '#6867AC'
* Title the Chart 'TfL Bike Hires (Combo Chart)', fontsize 30
* The left y-axis label should be 'Daily Number of Bicycle Hires', fontsize 20
* The right y-axis label should be 'Cumulative Total (millions)', fontsize 20
* The x-axis label should be 'Date', fontsize 20

## Create a Plot Area Consisting of 3 axes
* Two of the axes should be side by side and have a figure size of (5,4)
* One axis should be in the bottom and have a figure size of (12,4)

## Plot the following Charts using the tfl DataFrame:
### On the top left axes plot a box plot
* 'Number of Bicycle Hires' on the x-axis and label of 'Number of Bicycle Hires (millions)'
* Do not include outliers

### On the top right axes plot a histogram
* 'Number of Bicycle Hires' on the x-axis
* binsize of 30

### On the bottom axes plot a line chart
* 'Day' on the x-axis
* 'Number of Bicycle Hires' on the y-axis

Format the chart however you like and add appropriate titles, x-axis labels and y-axis labels.

## Create a Plot Area Consisting of 2 axes (2 rows and 1 column) using the Subplots method
* The Plot Area should have a figuresize of (15,10) and a tight_layout

## Plot the following Bar Charts:
### On the top axes plot a bar chart using the tfl_month DataFrame
* 'Month' on the x-axis with a label of 'Month'
* 'Number of Bicycle Hires (millions)' on the y-axis with a label of 'Bike Hires (m)'

### On the bottom axes plot a bar chart using the tfl_day DataFrame
* 'Day of Week' on the x-axis with a label of 'Day of Week'
* 'Number of Bicycle Hires (millions)' on the y-axis with a label of 'Bike Hires (m)'


* Format both charts however you like